:root {
  --clr-white: 250, 241, 241;
  --clr-black: 45, 0, 16;
  --clr-darkpink: 98, 12, 26;
  --clr-lightpink: 255, 192, 203;
  --clr-mediumpink: 255, 117, 140;
  --counter: 0%;
}

html {
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  width: 100%;
  height: 100%;
  color: rgba(var(--clr-darkpink), 1);
  font-size: 16px;
  text-transform: lowercase;
  user-select: none;
}

body,
h1,
p {
  margin: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.3rem;
  color: rgba(var(--clr-black), 1);
}

header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(var(--clr-lightpink), 1);
  margin: 0;
  padding: 1rem 2rem 2rem 2rem;
}

aside button {
  text-transform: lowercase;
  font-size: 1.3rem;
  background-color: rgba(var(--clr-white), 0.8);
  color: rgba(var(--clr-black), 1);
  padding: 0.4rem 1rem 0.4rem 1rem;
  border: 2px solid rgba(var(--clr-darkpink), 1);
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 0 0rem rgba(var(--clr-mediumpink), 0.5);
}

aside button:hover,
aside button:active {
  background-color: rgba(var(--clr-white));
  box-shadow: 0.4rem 0.4rem 0 0rem rgba(var(--clr-mediumpink), 1);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--clr-white), 1);
  background-image: linear-gradient(
    rgba(var(--clr-lightpink), 1),
    rgba(var(--clr-lightpink), 1)
  );
  background-size: var(--counter, 0%) auto;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

main label {
  font-size: 8rem;
  margin-bottom: 1.4rem;
  cursor: pointer;
}
